{% extends 'core/base.html' %}
{% block title %}About Us{% endblock title %}
{% block content %}

  <div class="max-w-6xl mx-auto py-6 px-6 xl:px-0 flex flex-wrap items-start">
    <h2 class="font-medium text-2xl mb-2">About us</h2>
    <p class="my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi laboriosam molestiae ipsam. Repellat, sint nisi veniam deserunt provident itaque nostrum perferendis, sit asperiores, voluptates voluptatibus! Voluptatem doloribus iusto itaque quidem hic dolor consequatur incidunt corporis, est delectus numquam ad eaque nam sint eius aspernatur repudiandae fugit beatae ipsam. Error, accusamus.</p>
    <p class="my-4">Repudiandae vel ipsa a harum quis fuga maiores, nesciunt velit temporibus odio doloremque, sit minus. Esse optio corporis cupiditate cumque! Alias facere eos inventore vitae dolorum officiis tenetur illum eveniet architecto optio! Odio expedita eaque deleniti eveniet hic molestias cupiditate aliquam voluptatem praesentium explicabo. Tempora aliquam expedita numquam dicta beatae.</p>
  </div>

{% endblock content %}